@font-face {
    font-family: 'nerd';
    src: url('../fonts/nerd.ttf') format('truetype');

}

@font-face {
    font-family: 'dotted';
    src: url('../fonts/dotted.ttf') format('truetype');

}

.red {
    color: #D71921;
}

.body {
    margin: 0px;
    padding: 0px;
}

.white {
    color: #F1F1F1;
    text-decoration: underline;
}

html {
    background-color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}
