@font-face {
    font-family: 'nerd';
    src: url('../fonts/nerd.ttf') format('truetype');

}

@font-face {
    font-family: 'dotted';
    src: url('../fonts/dotted.ttf') format('truetype');

}

.red {
    color: #D71921;
    
}

.body {
    margin: 0px;
    padding: 0px;
}

.white {
    color: #F1F1F1;
    text-decoration: underline;
}

html {
  
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

.journey {
    background-color:  #D71921;
    display: flex;
  justify-content: center;
  height: 100svh;
  width: 100%;



}

.journey-title{
    padding: 50px;
    font-weight: 900;
    font-family: 'nerd';
    color: white;
    font-size: 100px;
}

@media screen and (max-width: 600px){
    .journey-title{
        font-size: 50px;
        overflow-x: hidden;
  
      
    }
}

.journey1 {
  background-color: #353535;
    display: flex;
  justify-content: center;
  height: 100svh;
  width: 100%;



}

.journey-title1{
    padding: 50px;
    font-weight: 900;
    font-family: 'nerd';
    color: white;
    font-size: 100px;
}

@media screen and (max-width: 600px){
    .journey-title1{
        font-size: 50px;
        overflow-x: hidden;
  
      
    }
}


.journey1 {
  background-color: #353535;
    display: flex;
  justify-content: center;
  height: 100svh;
  width: 100%;



}

.journey-title1{
    padding: 50px;
    font-weight: 900;
    font-family: 'nerd';
    color: white;
    font-size: 100px;
}

@media screen and (max-width: 600px){
    .journey-title1{
        font-size: 50px;
        overflow-x: hidden;
  
      
    }
}


