@font-face {
    font-family: 'nerd'; 
    src: url('../fonts/nerd.ttf') format('truetype');

}
@font-face {
    font-family: 'dotted'; 
    src: url('../fonts/dotted.ttf') format('truetype');

}
.red{
    color: #ff0000;
}
.white{
    color: white;
    text-decoration: underline;
}
html{
    background-color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}
.title h1{
    color: #353535;
    font-family: 'dotted';
    letter-spacing: 5px;
    font-size: 100px;
}

.title p{
    color: white;
    font-size: 50px;
    font-family: 'nerd';
    font-weight: bold;
}
.title{
    /* background-color: blue; */
    width: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
    .title h1{
        font-size: 50px;
    }
    .title p{
        font-size: 20px;
    }
}
a{
    text-decoration: none;
}

/* --- Desktop Style --- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
}

.button {
    display: flex;
    gap: 15px;

}

.menu-toggle, .hamburger {
    display: none; /* Sembunyikan di desktop */
}



/* Style Tombol Dasar */
.button p a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding:  16px;
    display: block;
    border-radius: 4px;
}

.button p a{
  

    font-family: 'nerd';
    font-weight: bolder;
   
    
}
.btn-red a{
      background-color:  #ff0000;
          padding: 15px;
          color: white;
}
.btn-white a{
      background-color:  white;
          padding: 15px;
          color: black;
}
.btn-gray a{
      background-color: #353535;
          padding: 15px;
          color: white;
}

.nav h1{
    margin: 20px;
    text-align: center;
    color: white;
    padding: 18px;
    font-family: 'nerd';
} 


/* --- Mobile Responsive (NOTHING OS STYLE) --- */
@media screen and (max-width: 600px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;
        z-index: 100;
    }

    /* Garis Hamburger Minimalis */
    .hamburger .red {
        display: block;
       font-size: 60px;
       font-family: 'dotted';
        transition: 0.3s;
    }

    .button {
        position: fixed;
        top: 0;
        right: -100%; /* Sembunyikan ke kanan */
        width: 80%;
        height: 100vh;
        background: #000;
        border-left: 1px solid #333;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
        z-index: 90;
    }

    /* Munculkan Menu saat Klik */
    .menu-toggle:checked ~ .button {
        right: 0;
    }

    /* Animasi X pada Hamburger saat Aktif */
    .menu-toggle:checked ~ .hamburger span:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
        background: #ff0000; /* Berubah merah saat open */
    }
    .menu-toggle:checked ~ .hamburger span:nth-child(2) {
        transform: translateY(-4px) rotate(-45deg);
    }

    .button p {
        width: 80%;
        text-align: center;
    }
    .nav h1{
        font-size: 25px;
        margin: -10px;
        margin-top: -35px;
    }

    .nav{
        padding: 10px;
    }
}
/* 
.nav{
    display: flex;
    background-color: blue;
   justify-content: space-between;

   
   
}

.button{
    margin: 20px;
    display: flex;
    gap: 20px;

}
