@font-face {
    font-family: 'nerd'; 
    src: url('../fonts/nerd.ttf') format('truetype');

}
@font-face {
    font-family: 'dotted'; 
    src: url('../fonts/dotted.ttf') format('truetype');

}
span{
    color: #ff0000;
}
html{
    background-color: #000000;
    padding: 0;
    margin: 0;
}
.title{
    display: flex;


  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.title h1{
    font-family: 'dotted';
    color: white;
    font-style: oblique;
    letter-spacing: 5px;
    /* background-color: blue; */
    text-decoration: underline;
    text-decoration-color: #888888;
}
.title h1:hover{
    color: red;
}
.title p{
    color: white;
    /* background-color: violet; */
    margin-top: -10px;
    font-family: 'nerd';
}
.post{
    /* background-color: brown; */
   
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;

    display: flex;
}
.post-title{
    display: flex;
    justify-content: space-between;
}

.post-hero h1{
 font-family: 'dotted';
    text-decoration: underline;
        letter-spacing: 5px;
      text-decoration-color: #888888;
}
.post-hero  p{
    font-family: 'nerd';
}
.post-hero{
    color: white;

    /* background-color: aqua; */
    padding: 20px;
    width: 70%;
        background-color: #1a1a1a;
    font-weight: 100;
}

.tanggal{
    color: #888888;
     padding: 20px;

}

@media only screen and (max-width: 600px) {
    .title h1{
        font-size: 30px;
            letter-spacing: normal;
    }
    .title p{
        font-size: 15px;
    }
    .post-hero {
        align-items: center;
        
        width: 100%;
    }
    .post-hero h1{
        text-align: center;
            letter-spacing: normal;
    }
    .post-hero  p{
        font-size: 20px;
        text-align: justify;
    }
    .post-title{
    display: flex;
    flex-direction: column;
    
    }
    .post-title .tanggal{
        padding: none;
        text-align: end;

    }

    .tanggal{
    color: #888888;
     padding: 0;
    }
    .post-title h1{
        text-align: justify;
    }
}
