@font-face {
    font-family: 'nerd'; 
    src: url('fonts/nerd.ttf') format('truetype');

}
@font-face {
    font-family: 'dotted'; 
    src: url('fonts/dotted.ttf') format('truetype');

}
span{
    color: red;
}
html{
    background-color: black;
    padding: 0;
    margin: 0;
}
.title{
    display: flex;


  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.title h1{
    font-family: 'dotted';
    color: white;
    font-size: 4vw;
    font-style: oblique;
    /* background-color: blue; */
    text-decoration: underline;
      text-decoration-color: red; /* Sets the underline color to red */
}
.title h1:hover{
    color: red;
}
.title p{
    color: white;
    /* background-color: violet; */
    margin-top: -10px;
    text-align: center;
      font-size: 2vw;
    font-family: 'nerd';
}
.post{
    /* background-color: brown; */
    height: 100svh;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    display: flex;
}

.post-hero h1{
 font-family: 'dotted';
    text-decoration: underline;
     text-decoration-color: red; /* Sets the underline color to red */
}
.post-hero p{
    font-family: 'nerd';
}
.post-hero{
    color: white;
   
    /* background-color: aqua; */
    width: 70%;
    font-weight: 100;
}